@model Asortyment

@{
    ViewData["Title"] = "Dodaj nowy produkt";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>

    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Nazwa produktu</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Brand" class="form-label">Marka</label>
            <input asp-for="Brand" class="form-control" />
            <span asp-validation-for="Brand" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Price" class="form-label">Cena</label>
            <input asp-for="Price" class="form-control" type="number" step="0.01" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label">Opis</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Quantity" class="form-label">Ilość</label>
            <input asp-for="Quantity" class="form-control" type="number" min="0" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-success">Dodaj produkt</button>
            <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
        </div>
    </form>
</div>
