@model Test.Models.Asortyment

<h1>Zamów produkt</h1>

<form asp-action="Zamow" method="post">
    <div class="form-group">
        <label for="quantity">Ilość:</label>
        <input type="number" id="quantity" name="quantity" class="form-control" min="1" max="@Model.Quantity" value="1" />
    </div>
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">Zamów</button>
</form>